# Настройки Юзербота (Bot 1 - Fetcher)
TELEGRAM_API_ID=твой_api_id
TELEGRAM_API_HASH=твой_api_hash

# Настройки AI Бота (Bot 2 - Processor)
TELEGRAM_BOT_TOKEN=твой_телеграм_бот_токен
AI_BOT_INBOX_ID=айди_чата_куда_юзербот_шлет_сырые_новости

# Итоговый канал (куда летит готовый результат)
TELEGRAM_CHAT_ID=твой_айди_канала_для_публикации

# Ключи сервисов
OPENAI_API_KEY=твой_ключ_openai
CRYPTOPANIC_API_KEY=твой_ключ_cryptopanic (если нужен)
